<header>

	<h1>Edit Comment</h1>
	
</header>

<main>

	<%= form_for [@project, @comment], html: { multipart: true } do |f| %>

	  <div class="label">
			
			<%= f.label :"content:" %>

		</div>

	  <div class="description">

	  	<%= f.text_area :content, size: "70x10", placeholder: "Content" %>

		</div>

		<%= f.submit %>

	<% end %>

	<div class="Back">

		<%= link_to 'Cancel', project_path(@project) %>

	</div>

</main>