<<<<<<< HEAD
<h1>New Project</h1>

<%= form_for @project do |f| %>
	<%= f.text_field :name %>
	
	<%= f.submit %>
<% end %>

<%= link_to 'Back', projects_path %>
=======
<header>

	<h1>New Project</h1>

</header>

<main>

	<%= form_for [@project], html: { multipart: true } do |f| %>

		<div class="name">
		
	  	<%= f.text_field :name, placeholder: "Title" %>

	  </div>

	  <div class="description">

	  	<%= f.text_area :description, size: "70x10", placeholder: "Description (optional)" %>

		</div>

	  <div class="addImage">

	  	<div class="label">

		  	<%= f.label :"Add image" %>

			</div>

		  <div class="fileField">

		 		<%= f.file_field :image %>

		 	</div>

		</div>

		<%= f.submit %>

	<% end %>

	<div class="Back">

		<%= link_to 'Cancel', projects_path %>

	</div>

</main>
>>>>>>> auth
