<!-- <p>
  <strong>Name:</strong>
  <%= image_tag @project.image.url("medium") %>
  <%= @project.name %>
  <%= link_to 'Edit', edit_project_path %>
  <%= link_to 'Back', projects_path %>
</p>

<table>
  <% if @comments.present? %>
    <tr>
      <th>id</th>
      <th>status</th>
    </tr>  
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.id %></td>
          <td><%= link_to comment.status, project_comment_path(@project, comment) %></td>
          <td><%= link_to 'Usun', project_comment_path(@project, comment), method: :delete, data: {confirm: 'Are y sure ?'} %></td>
        </tr>
      <% end %>
  <% else %>
    <em> No comments </em>
  <% end %>
</table>

<%= paginate @comments %>

<%= link_to 'New comment', new_project_comment_path(@project) %> -->

<body>
  
  <div class="headerShowProj">

    <div class="showNameContainer">

        <div class="showName">

          <p><span style="font-size: 36px;">Name: </span><%= @project.name %></p>

        </div>

        <% if current_user == @project.user %> 

          <%= link_to edit_project_path(@project) do %>    

            <div class="showIcon">
              
              <i class="icon-pencil-1"></i>

            </div>

          <% end %>

          <%= link_to @project, method: :delete, data: { confirm: "Project:    '#{@project.name}'       will be removed. Are you sure?" } do %>

            <div class="showIcon">
              
              <i class="icon-trash"></i> 

            </div> 

          <% end %>     

        <% end %>

    </div>  

    <div class="showHeaderBottom">  

      <div class="showBack">

          <%= link_to 'Back', projects_path %>

      </div>

      <div class="showCreate">

        Created by : <%= @project.user.name %>

      </div>      

    </div>

  </div>

  <div class="contentShowProj">
    
    <div class="showImage">
      
      <%= image_tag @project.image.url("medium") %>

    </div>

    <div class="showArticle">
      
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </div>    

  </div>

  <div class="commetsShowProj">
    
    <div class="commentsHeader">
      
      <div class="titleComments">

        <h2> Commnets </h2>

      </div>

      <div class="creator" id="show">

        <%= link_to new_project_comment_path(@project) do %>

          <i class="icon-plus-squared"></i>

        <% end %>

      </div>

      <div style="clear: both;"></div>

    </div>

    <div class="commentsContent">

      <% if @comments.present? %>

        <% @comments.each do |comment| %>

          <div class="comment">

           <%= comment.user_id %>: <%= comment.status %> 

          </div>

          <div style="clear: both;"></div>

        <% end %>    

      <% end %>
      

    </div>


    </div>

  </div>

</body>