<div class="headerShowProj">

  <div class="showHeaderTop">

        <div class="title">
          
          <h1>Title:</h1>

        </div>

        <% if current_user == @project.user %> 

            <%= link_to @project, method: :delete, data: { confirm: "Project:    '#{@project.name}'       will be removed. Are you sure?" } do %>

              <div class="showIcon">
                
                <i class="icon-trash"></i> 

              </div>

            <% end %>

            <%= link_to edit_project_path(@project) do %>             

              <div class="showIcon">
                
                <i class="icon-pencil-1"></i>

              </div>

            <% end %>

            <div style="clear: both;"></div>              

        <% end %>

  </div>

  <div class="showName">

      <p><%= @project.name %></p>

  </div>

  <div class="showHeaderBottom">  

    <div class="showBack">

        <%= link_to 'Back', projects_path %>

    </div>

    <div class="showCreate">

      Created by: <%= @project.user.name %>

    </div>

    <div style="clear: both;"></div>

  </div>

</div>

<div class="contentShowProj">
  
  <div class="showImage">
    
    <%= image_tag @project.image.url("medium") %>

  </div>

  <div class="showArticle">    

    <%= simple_format(@project.description) %>      

  </div> 

  <div style="clear: both; "></div>   

</div>

<div class="commetsShowProj">
  
  <div class="commentsHeader">
    
    <div class="titleComments">

      <h2> Comments </h2>

    </div>

    <div class="creator" id="show">

      <%= link_to new_project_comment_path(@project) do %>

        <i class="icon-plus-squared"></i>

      <% end %>

    </div>

    <div style="clear: both;"></div>

  </div>

  <div class="commentsContent">

    <% if @comments.present? %>

      <% @comments.each do |comment| %>

        <div class="comment">

          <div class="commentTop">

            <div class="commentAuthor">

              <%= comment.user.name %>
                
              </div>
            <div class="commentTimeStamps">

              <%= comment.created_at.strftime('%d-%b-%Y at: %T')%>

            </div>

            <% if comment.user == current_user %> 

              <%= link_to project_comment_path(@project, comment), method: :delete, data: {confirm: 'Are y sure ?'} do %>

                <div class="commentIcon">

                  <i class="icon-trash"></i>

                </div>

              <% end %>

              <%= link_to edit_project_comment_path(@project, comment) do %>

                <div class="commentIcon"><i class="icon-pencil-1"></i></div>

              <% end %>

            <% end %>

          </div>

          <div class="commentBottom">
            
            <%= simple_format(comment.content) %>

          </div>

        </div>

        <div style="clear: both;"></div>

      <% end %>    

    <% end %>
    
    <%= paginate @comments %>
  </div>


  </div>

</div>

<footer>
  This site was created by <a href="https://github.com/PolkowskiA" target="_blank">PolkowskiA</a>. All rights reserved &copy; 2016
</footer>